@model IEnumerable<HaluwinShop.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .table th, .jsgrid .jsgrid-table th, .table td, .jsgrid .jsgrid-table td {
        font-size: 20px;
        text-align: center;
    }
</style>
<main>
    <h3 class="text-uppercase" style="font-family:'Times New Roman', Times, serif">Quản lý tài khoản</h3>
    @*Thanh tìm kiếm*@
    <div class="row justify-content-center">
        <div>
            <form action="/Admin/Accounts" method="get" class="d-flex justify-content-center">
                <input type="text" name="name" placeholder="Tên tài khoản" size="20" />
                <input type="submit" value="Tìm" class="btn btn-info rounded-3" style="margin: 5px" />
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <a class="btn btn-outline-success m-3 font-monospace" style="height: 30px; width: 20%" href="@Url.Action("Create", "Accounts")">
            <div style="text-decoration:none; color: ghostwhite; align-items:center">
                + Tạo
            </div>
        </a>
    </div>

    <table style="width:100%;border: 1px solid white" class="table table-bordered">
        <tr style="color: ghostwhite">
            <th>
                @Html.DisplayNameFor(model => model.NameUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleUser)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>

            <th style="width: 10%"> </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="color: ghostwhite">
                <td>
                    @Html.DisplayFor(modelItem => item.NameUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <h6>
                        <a class="text-uppercase btn btn-outline-light" style="text-decoration:none" href="/Admin/Accounts/Edit/@item.ID">
                            Edit
                        </a>
                    </h6>

                    <h6>
                        <a class="text-uppercase btn btn-outline-danger" style="text-decoration:none" href="/Admin/Accounts/Delete/@item.ID">
                            Delete
                        </a>
                    </h6>
                </td>
            </tr>
        }
    </table>
</main>














@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordUser)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordUser)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@
